<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
        id="com.eclipsesource.tabris.calendar.example"
        version="2.0.0"
        android-packageName="com.eclipsesource.tabris.calendar.example"
        android-versionCode="1">
  <name>Tabris.js Calendar Plugin Example</name>
  <description>Example for the Tabris.js calendar plugin.</description>
  <author email="care@tabris.com" href="https://tabrisjs.com">EclipseSource</author>

  <preference name="EnableDeveloperConsole" value="true" />

  <plugin name="tabris-plugin-calendar" spec="../" />

</widget>
